.kpido_no_padding_top {
    padding-top: 0px !important;
}

.badge-cart {
    position: absolute;
    margin-left: 20%;
    margin-top: -55px;
}

.modal {
    overflow: auto !important;
}

.btn.booking {
    position: fixed;
    top: 85px;
    bottom: auto;
    right: -10px;
    /* border-radius: 20px 0 0 20px; */
    padding: 7px 15px;
}

.btn.booking span {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    animation: rotation 4s both linear;
    -moz-animation: rotation 4s both linear;
    -ms-animation: rotation 4s both linear;
    -webkit-animation: rotation 4s both linear;
}

.btn.booking.active {
    right: 75px;
}

.rtl .btn.booking {
    right: auto;
    left: -5px;
    /* border-radius: 0 20px 20px 0; */
}

.rtl .btn.booking.active {
    right: auto;
    left: 65px;
}